name: Deploy josh.bot

on:
  push:
    branches: [ main ]

permissions:
  id-token: write # Required for requesting the JWT
  contents: read  # Required for actions/checkout

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # 1. Setup Go and Build the Binary
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Build Go Binary
        run: |
          # Use GOOS=linux and GOARCH=arm64 for AWS Lambda (AL2023)
          GOOS=linux GOARCH=arm64 go build -tags lambda.norpc -o bootstrap cmd/api/main.go
          zip terraform/function.zip bootstrap

      # 2. Authenticate with AWS via OIDC
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/josh-bot-github-actions-role
          aws-region: us-east-1

      # 3. Terraform Orchestration
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=terraform init -backend-config="bucket=jduncanz-terraform-state-bucket" -backend-config="key=terraform.tfstate" -backend-config="region=us-east-1"

      - name: Terraform Apply
        run: terraform -chdir=terraform apply -auto-approve -input=false -var-file="../terraform.tfvars"